<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enchères ENI</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main>
    <h1>Détail vente n°<span th:text="${noArticle}"></span></h1>
    <h2 class="success" th:if="${success}">Votre enchère a bien été enregistrée !</h2>


    <!-- Condition pour afficher le message -->
    <div th:if="${aRemporteLaVente}">
        <p class="success-message">Félicitations, vous avez remporté la vente !</p>
    </div>

    <div class="details-container">
        <div class="details-image">
            <img th:src="${articles.lien_image}" alt="image de l'article en vente" id="imageArticle"/>
        </div>
        <div class="details-texts">
            <h2 th:text="${articles.nomArticle}"></h2>

            <p class="error" th:if="${articles.isEtatVente()}">VENTE ANNULEE !</p>


            <form th:action="@{/detailVente/{id}(id=${noArticle})}" th:object="${enchere}" method="post">
                <table>
                    <tr>
                        <td>Description :</td>
                        <td th:text="${articles.description}"></td>
                    </tr>
                    <tr>
                        <td>Catégorie :</td>
                        <td th:text="${articles.categorie}"></td>
                    </tr>
                    <tr th:if="${articles.montantEnchere != null && articles.dateEnchere != null}">
                        <td>Meilleure offre :</td>
                        <td th:text="${articles.montantEnchere} + ' pts, par ' + ${utilEnchere.pseudo} + ', le ' + ${#temporals.format(articles.dateEnchere, 'dd-MM-yyyy')}"></td>
                    </tr>
                    <tr th:if="${articles.montantEnchere == null || articles.dateEnchere == null}">
                        <td><em>Il n'y a aucune offre pour cet article...</em></td>
                    </tr>
                    <tr>
                        <td>Mise à prix :</td>
                        <td th:text="${articles.miseAPrix}"></td>
                    </tr>
                    <tr>
                        <td>Fin de l'enchère :</td>
                        <td>
                            <p th:if="${isVenteTerminee != null}">Enchère terminée !</p>
                            <p th:text="${#temporals.format(articles.dateFinEnchere, 'dd-MM-yyyy')}">
                        </td>
                    </tr>
                    <tr>
                        <td>Retrait :</td>
                        <td th:text="${articles.retrait}"></td>
                    </tr>
                    <tr>
                        <td>Vendeur :</td>
                        <td th:text="${articles.vendeur}"></td>
                    </tr>
                    <th:block th:if="${isVenteEnCours != null || isProprietaire == null}">
                        <tr>
                            <td>Ma proposition :<br>
                                <p>(Vous disposez de <strong><span th:text="${credits}"></span></strong> points)</p>
                            </td>
                            <td><input min="100" step="100" placeholder="Votre enchère ?" type="number"
                                       th:field="*{montantEnchere}"/>
                                <br/><span class="error" th:if="${#fields.hasErrors('montantEnchere')}"
                                           th:errors="*{montantEnchere}"></span>
                                <span class="error" th:if="${erreurEnchere}" th:text="${erreurEnchere}"></span>
                                <button type="submit">Enchérir</button>
                            </td>

                        </tr>
                        <!-- on affiche le bouton de modification d'une vente que si la vente n'a pas debuté et qu'elle appartient à l'utilisateur connecte -->
                    </th:block>
                    <tr th:if="${isVenteEnCours == null && isProprietaire != null}">
                        <td colspan="2">La vente n'ayant pas débuté, en tant que propriétaire vous pouvez<br/>
                            <button type="button"
                                    th:attr="onclick='window.location.href=\'/modifierVente/'+ ${noArticle} + '\''"
                                    class="btn btn-primary me-2">
                                Modifier votre article
                            </button>
                            <button th:if="${!articles.isEtatVente()}" type="button"
                                    class="btn btn-danger"
                                    th:onclick="'if(confirm(\'Êtes-vous sûr de vouloir annuler la vente ?\')) { window.location.href = \'/detailVente/' + ${noArticle} + '?desactivate\'; }'">
                                Annuler la vente
                            </button>



                        </td>
                    </tr>

                </table>
            </form>
        </div>
    </div>

</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>