<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Enchères</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <h1>Liste des enchères</h1>

    <h2>Filtres</h2>
    <div>
        <form method="get" action="/encheres">
            <input type="search" name="nom" th:value="${param.nom}" placeholder="Le nom de l'article contient..." /> <br />
            <label>Catégories : </label>
            <select name="noCategorie">
                <option value="" th:selected="${param.noCategorie == null}">Toutes</option>
                <option th:each="categorie : ${categories}"
                        th:value="*{categorie.noCategorie}"
                        th:selected="${param.noCategorie == categorie.noCategorie}"
                        th:text="*{categorie.libelle}">
                </option>
            </select>
            <button type="submit">Rechercher</button>
        </form>

        <div sec:authorize="isAuthenticated()">
            <form method="get" action="/encheres" th:object="${enchereFiltres}">
                <input type="radio" id="achats" value="achats" name="achat-vente" onchange="toggleCheckboxes(this.value)">
                <label for="achats">Achats</label>

                    <input type="checkbox" id="encheresOuvertes" name="encheresOuvertes"  class="achats-checkbox"
                           th:value="${param.encheresOuvertes}" th:field="">
                    <label for="encheresOuvertes">enchères ouvertes</label>

                    <input type="checkbox" id="encheresEnCours" name="encheresEnCours" th:value="${param.encheresEnCours}" class="achats-checkbox">
                    <label for="encheresEnCours">mes enchères en cours</label>

                    <input type="checkbox" id="encheresRemportees" name="encheresRemportees" th:value="${param.encheresRemportees}" class="achats-checkbox">
                    <label for="encheresRemportees">mes enchères remportées</label>

                <input type="radio" id="ventes" value="ventes" name="achat-vente" onchange="toggleCheckboxes(this.value)">
                <label for="ventes">Mes ventes</label>

                    <input type="checkbox" id="ventesEnCours" name="ventesEnCours" th:value="${param.ventesEnCours}" class="ventes-checkbox">
                    <label for="ventesEnCours">mes ventes en cours</label>

                    <input type="checkbox" id="ventesNonDebutees" name="ventesNonDebutees" th:value="${param.ventesNonDebutees}" class="ventes-checkbox">
                    <label for="ventesNonDebutees">ventes non débutées</label>

                    <input type="checkbox" id="ventesTerminees" name="ventesTerminees" th:value="${param.ventesTerminees}" class="ventes-checkbox">
                    <label for="ventesTerminees">ventes terminées</label>

                <button type="submit">Appliquer</button>
            </form>
        </div>

    </div>

    <div id="container-article">
        <div class="article" th:each="article : ${articles}">

            <div class="images-box"><img class="images-articles" th:src="*{article.lien_image}" alt="image_article" /></div>

            <a th:href="@{/detailVente/{noArticle}(noArticle=${article.noArticle})}">
                <p th:text="*{article.nomArticle}"></p>
            </a>

            <p>Prix : <span th:text="*{article.miseAPrix}"></span> points</p>

            <p>Fin de l'enchère : <span th:text="*{#temporals.format(article.dateFinEncheres, 'dd-MM-yyyy')}"></span></p>

            <p sec:authorize="isAuthenticated()">Vendeur :
                <a th:href="@{/profil/{pseudo}(pseudo=${article.vendeur.pseudo})}"><span th:text="*{article.vendeur.pseudo}"></span></a>
            </p>
            <p sec:authorize="!isAuthenticated()">Vendeur :
                <span th:text="*{article.vendeur.pseudo}"></span>
            </p>

        </div>
    </div>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<!-- Script JS qui gère le comportement dynamique des boutons radio/checkbox -->
<script>
    function toggleCheckboxes(value) {
        const achatsCheckboxes = document.querySelectorAll('.achats-checkbox');
        const ventesCheckboxes = document.querySelectorAll('.ventes-checkbox');
        achatsCheckboxes.forEach(checkbox => {
            checkbox.disabled = value !== 'achats';
            if (value !== 'achats') {
                checkbox.checked = false;
            }
        });
        ventesCheckboxes.forEach(checkbox => {
            checkbox.disabled = value !== 'ventes';
            if (value !== 'ventes') {
                checkbox.checked = false;
            }
        });
    }
</script>
</body>
</html>