<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enchères</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<main>
    <h1>Liste des enchères</h1>

    <h2>Filtres</h2>
    <div>
        <input type="search" placeholder="Le nom de l'article contient..." /><button type="submit">Rechercher</button> <br />
        <label>Catégorie : </label>
        <select>
            <option selected>Toutes</option>
            <option th:each="categorie : ${categories}" th:value="*{categorie.noCategorie}"><span th:text="*{categorie.libelle}"></span></option>
        </select>
    </div>

    <div id="container-article">
        <div class="article" th:each="article : ${articles}">
            <ul>
                <li><img class="images-articles" th:src="*{article.lien_image}" alt="image_article" /></li>
                <li th:text="*{article.nomArticle}"></li>
                <li>Prix : <span th:text="*{article.prixVente}"></span></li>
                <li>Fin de l'enchère : <span th:text="*{article.dateFinEncheres}"></span></li>
                <li>Vendeur : <span></span></li>
            </ul>
        </div>
    </div>

</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>