<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modification Article</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <h1>Modification Article</h1>

    <h2 class="error" th:if="${errorMessage}" th:text="${errorMessage}">futur zone message erreur</h2>
    <h2 class="success" th:if="${success}">Votre article a bien été modifié.</h2>

    <div id="vendre-article">

        <div class="vendre-article-col" id="vendre-article-col-left">image</div>
        <div class="vendre-article-col" id="vendre-article-col-right">
            <form method="post" th:action="@{/modifierVente/{id}(id=${articleVendu.noArticle})}"
                  th:object="${articleVendu}">

                <p>
                    <label for="nomArticle">Article : </label>
                    <input autofocus id="nomArticle" placeholder="Donnez un nom à votre article" required th:field="*{nomArticle}"
                           type="text"/>
                    <br/><span class="error" th:errors="*{nomArticle}"
                               th:if="${#fields.hasErrors('nomArticle')}"></span>
                </p>
                <p>
                    <label for="description">Description : </label>
                    <textarea id="description" required th:field="*{description}"></textarea>
                    <br/><span class="error" th:errors="*{description}"
                               th:if="${#fields.hasErrors('description')}"></span>
                </p>
                <p>
                    <label for="categorieArticle">Catégorie : </label>
                    <select id="categorieArticle" name="categorieArticle.noCategorie" required>
                        <option disabled selected value="">Choisissez une catégorie</option>
                        <option th:each="categorie : ${categories}"
                                th:selected="${categorie.noCategorie == articleVendu.getCategorieArticle().getNoCategorie()}"
                                th:text="${categorie.libelle}"
                                th:value="${categorie.noCategorie}"
                        >
                        </option>
                    </select>
                    <br/><span class="error" th:errors="*{categorieArticle}"
                               th:if="${#fields.hasErrors('categorieArticle')}"></span>
                </p>
                <p>
                    <label for="photo">Photo de l'article : </label>
                    <input accept=".jpg, .jpeg" id="photo" name="photo" type="file"/>

                </p>
                <p>
                    <label for="miseAPrix">Mise à prix : </label>
                    <input id="miseAPrix" min="100" required step="100" th:field="*{miseAPrix}" type="number"/>
                    <br/><span class="error" th:errors="*{miseAPrix}" th:if="${#fields.hasErrors('miseAPrix')}"></span>
                </p>

                <p>
                    <label for="dateDebutEncheres">Début de l'enchère :</label>
                    <input id="dateDebutEncheres" required th:field="*{dateDebutEncheres}"
                           type="datetime-local"/>

                    <br/><span class="error" th:errors="*{dateDebutEncheres}"
                               th:if="${#fields.hasErrors('dateDebutEncheres')}"></span>
                </p>

                <p>
                    <label for="dateFinEncheres">Fin de l'enchère :</label>
                    <input id="dateFinEncheres" required th:field="*{dateFinEncheres}" type="datetime-local"/>
                    <br/><span class="error" th:errors="*{dateFinEncheres}"
                               th:if="${#fields.hasErrors('dateFinEncheres')}"></span>
                </p>
                <fieldset>
                    <legend>Retrait</legend>
                    <p>
                        <label for="rue">Rue :</label>
                        <input id="rue" required th:field="*{lieuRetrait.rue}" type="text"/>
                        <br/><span class="error" th:errors="*{lieuRetrait.rue}"
                                   th:if="${#fields.hasErrors('lieuRetrait.rue')}"></span>
                    </p>
                    <p>
                        <label for="codePostal">Code postal :</label>
                        <input id="codePostal" required th:field="*{lieuRetrait.codePostal}" type="text"/>
                        <br/><span class="error" th:errors="*{lieuRetrait.codePostal}"
                                   th:if="${#fields.hasErrors('lieuRetrait.codePostal')}"></span>
                    </p>
                    <p>
                        <label for="ville">Ville :</label>
                        <input id="ville" required th:field="*{lieuRetrait.ville}" type="text"/>
                        <br/><span class="error" th:errors="*{lieuRetrait.ville}"
                                   th:if="${#fields.hasErrors('lieuRetrait.ville')}"></span>
                    </p>

                </fieldset>

                <p>
                    <button type="submit">Enregistrer</button>
                    <!-- Bouton Annuler avec JavaScript -->
                    <button onclick="window.location.href='/';" type="button">Annuler</button>
                </p> <!-- Redirection via JS -->
            </form>
        </div>


    </div>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>