<!-- src/main/resources/templates/index.html -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ENI-Encheres - Inscription</title>
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Inclure le fragment header -->
<header th:replace="fragments/header :: header"></header>

<h1>Connexion profil</h1>
<!-- Afficher les erreurs de connexion -->
<h2 class="error" th:if="${param.error}" th:text="'Erreur : Mot de passe ou pseudo incorrect !'"></h2>
<a th:if="${username}" th:text="${username}"></a>

<main>

    <!-- Formulaire de connexion -->
    <form method="post" th:action="@{/connexion}">

        <p>
            <label for="username">*Pseudo : </label><input id="username" name="username" placeholder="Votre pseudo ?"
                                                           required/>
        </p>
        <p>
            <label for="password">*Mot de passe : </label><input id="password" maxlength="8" name="password"
                                                                 placeholder="Votre mot de passe ?" required
                                                                 type="password"/>
        </p>
        <p>
            <button type="submit">Connexion</button>
        </p>
    </form>

    <!-- Lien vers l'inscription -->
    <p>
        <a class="btn-inscription" th:href="@{/inscription}">Créer un compte</a>
    </p>

</main>


<!-- Inclure le fragment footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
