<!-- src/main/resources/templates/index.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENI-Encheres - Inscription</title>
</head>
<body>
<!-- Inclure le fragment header -->
<div th:replace="fragments/header :: header"></div>

<h1>Mon profil</h1>
<form th:object="${utilisateur}" th:action="@{/inscription}" method="post">

    <table>
        <tr th:if="${#fields.hasErrors('pseudo')}">
            <td>Erreur Pseudo : </td><td th:errors="*{pseudo}">popo</td>
        </tr>
        <tr th:if="${#fields.hasErrors('nom')}">
            <td>Erreur Nom : </td><td th:errors="*{nom}"></td>
        </tr>

        <tr>
            <td><label for="pseudo">*Pseudo : </label><input required id="pseudo" th:field="*{pseudo}"/></td>
            <td><label for="nom">*Nom : </label><input required id="nom" th:field="*{nom}" /></td>
        </tr>
    </table>


    <p><button type="submit">Créer</button></p>
</form>
<!--
private int noUtilisateur;
private String pseudo;
private String nom;
private String prenom;
private String email;
private String telephone;
private String rue;
private String codePostal;
private String ville;
private String motDePasse;
private int credit;
private boolean administrateur;
-->
<!-- Inclure le fragment footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
