<!-- src/main/resources/templates/index.html -->

<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ENI-Encheres - Modification de votre profil</title>
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Inclure le fragment header -->
<header th:replace="fragments/header :: header"></header>
<main>
    <h1>Modification de votre profil</h1>
    <h2 class="error" th:if="${errorMessage}" th:text="${errorMessage}"></h2>

    <form method="post" th:action="@{/modification}" th:object="${utilisateur}">
        <div class="modif-container">
            <div class="modif-box">
                <label for="pseudo">Pseudo : </label>
                <input id="pseudo" readonly required style="background-color: gray" th:field="*{pseudo}"/><br/>
                <span th:errors="*{pseudo}" th:if="${#fields.hasErrors('pseudo')}"></span>

                <label for="prenom">*Prénom : </label>
                <input id="prenom" required th:field="*{prenom}"/><br/>
                <span th:errors="*{prenom}" th:if="${#fields.hasErrors('prenom')}"></span>

                <label for="telephone">*Téléphone : </label>
                <input id="telephone" required th:field="*{telephone}"/><br/>
                <span th:errors="*{telephone}" th:if="${#fields.hasErrors('telephone')}"></span>

                <label for="codePostal">*Code Postal : </label>
                <input id="codePostal" required th:field="*{codePostal}"/><br/>
                <span th:errors="*{codePostal}" th:if="${#fields.hasErrors('codePostal')}"></span>
            </div>
            <div class="modif-box">
                <label for="nom">*Nom : </label>
                <input id="nom" required th:field="*{nom}"/><br/>
                <span th:errors="*{nom}" th:if="${#fields.hasErrors('nom')}"></span>

                <label for="email">*Email : </label>
                <input id="email" required th:field="*{email}" type="email"/><br/>
                <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>

                <label for="rue">*Rue : </label>
                <input id="rue" required th:field="*{rue}"/><br/>
                <span th:errors="*{rue}" th:if="${#fields.hasErrors('rue')}"></span>

                <label for="ville">*Ville : </label>
                <input id="ville" required th:field="*{ville}"/><br/>
                <span th:errors="*{ville}" th:if="${#fields.hasErrors('ville')}"></span>
            </div>
            <div class="modif-box modif3">
                <label for="motDePasse">*Mot de passe actuel : </label>
                <input id="motDePasse" maxlength="8" required th:field="*{motDePasse}" type="password"/><br/><span
                    th:errors="*{motDePasse}" th:if="${#fields.hasErrors('motDePasse')}"></span>
                <label for="NouveauMotDePasse">*Nouveau mot de passe : </label>
                <input id="NouveauMotDePasse" maxlength="8" name="NouveauMotDePasse" required type="password"/>
                <label for="NouveauMotDePasseConfirmation">*Confirmation : </label>
                <input id="NouveauMotDePasseConfirmation" maxlength="8" name="NouveauMotDePasseConfirmation" required
                       type="password"/>
            </div>
        </div>
        <p>* = Champs obligatoires</p>
        <button class="btn-validation" type="submit">Enregistrer</button>
        <a onclick="return confirm('Etes-vous sûr de vouloir supprimer votre compte ?');"
           th:href="@{/modification?delete}">
            <button class="btn-delete">Supprimer mon compte</button>
        </a>
    </form>

</main>
<!-- Inclure le fragment footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
