<!-- src/main/resources/templates/index.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENI-Encheres - Modification de votre profil</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <!-- Inclure le fragment header -->
    <header th:replace="fragments/header :: header"></header>
    <main>
        <h1>Modification de votre profil</h1>
        <h2 class="error" th:if="${errorMessage}" th:text="${errorMessage}"></h2>

            <form th:object="${utilisateur}" th:action="@{/modification}" method="post">
                <div class="modif-container">
                    <div class="modif-box">
                        <label for="pseudo">Pseudo : </label>
                        <input readonly required id="pseudo" th:field="*{pseudo}" style="background-color: gray"/><br />
                        <span th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></span>

                        <label for="prenom">*Prénom : </label>
                        <input required id="prenom" th:field="*{prenom}"/><br />
                        <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>

                        <label for="telephone">*Téléphone : </label>
                        <input required id="telephone" th:field="*{telephone}"/><br />
                        <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></span>

                        <label for="codePostal">*Code Postal : </label>
                        <input required id="codePostal" th:field="*{codePostal}"/><br />
                        <span th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}"></span>
                    </div>
                    <div class="modif-box">
                        <label for="nom">*Nom : </label>
                        <input required id="nom" th:field="*{nom}"/><br />
                        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>

                        <label for="email">*Email : </label>
                        <input type="email" required id="email" th:field="*{email}"/><br />
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

                        <label for="rue">*Rue : </label>
                        <input required id="rue" th:field="*{rue}"/><br />
                        <span th:if="${#fields.hasErrors('rue')}" th:errors="*{rue}"></span>

                        <label for="ville">*Ville : </label>
                        <input required id="ville" th:field="*{ville}"/><br />
                        <span th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"></span>
                    </div>
                    <div class="modif-box modif3">
                        <label for="motDePasse">*Mot de passe actuel : </label>
                        <input maxlength="8" type="password" required id="motDePasse" th:field="*{motDePasse}"/><br /><span th:if="${#fields.hasErrors('motDePasse')}" th:errors="*{motDePasse}"></span>
                        <label for="NouveauMotDePasse">*Nouveau mot de passe : </label>
                        <input maxlength="8" type="password" required id="NouveauMotDePasse" name="NouveauMotDePasse"/>
                        <label for="NouveauMotDePasseConfirmation">*Confirmation : </label>
                        <input maxlength="8" type="password" required id="NouveauMotDePasseConfirmation" name="NouveauMotDePasseConfirmation" />
                    </div>
                </div>
                <p>* = Champs obligatoires</p>
                <button type="submit" class="btn-validation">Enregistrer</button>
                <a th:href="@{/modification?delete}" onclick="return confirm('Etes-vous sûr de vouloir supprimer votre compte ?');">
                    <button class="btn-delete">Supprimer mon compte</button>
                </a>
            </form>

    </main>
    <!-- Inclure le fragment footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
