<!-- src/main/resources/templates/fragments/header.html -->


<!-- Header Fragment -->
<header xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav>
        <ul>

            <!-- TODO: #6003: Un click sur le logo du site ramène l’utilisateur sur la page principale (page de recherche d’articles) si celui-ci est connecté. -->
            <li><a href="/" th:text="'Home'">Home</a></li>

            <!-- Si l'utilisateur est connecté, afficher son nom et le lien de déconnexion -->
            <li sec:authorize="isAuthenticated()">
                <span>Bienvenue, <span th:text="${#authentication.name}">Utilisateur</span></span>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/logout" th:text="'Déconnexion'"></a>
            </li>

            <!-- Si l'utilisateur n'est pas connecté, afficher le lien de connexion -->
            <li sec:authorize="!isAuthenticated()">
                <a href="/connexion" th:text="'Connexion'"></a>
            </li>

            <!-- Si l'utilisateur n'est pas connecté, afficher le lien d'inscription -->
            <li sec:authorize="!isAuthenticated()">
                <a href="/inscription" th:text="'Inscription'">S'inscrire - Se connecter</a>
            </li>

        </ul>
    </nav>
    <div class="logo">
        <h1>ENI-Encheres</h1>
    </div>
</header>
<!-- End of Header -->
